<h1 class='users_heading'>User Details </h1>

<%= render partial: 'user_profile', locals: {user:@user} %>
<%= render partial: 'bio_card', locals: {user:@user} %>

<div class='recent_posts'>
    <% @user.recent_posts.each do |post| %>
        <div class='post_card'>
            <%= link_to user_post_path(@user.id, post.id), id: "user_post#{post.id}" do %>
                <h3>Post: <%= post.title %></h3>
                <p><%= post.text.truncate(30) %></p>
            <% end %>
            <div class='interactions'>
                <span>Comments: <%= post.comments.size || 0 %></span>
                <span>Likes: <%= post.likes.size || 0 %></span>
            </div>
        </div>
    <% end %>
</div>
<div class='all_posts'>
<button class='d-flex justify-content-center'>
<%= link_to "See all posts" , user_posts_path(@user) if @user.post_counter> 0 %>
</button>
</div>



