<div class="home d-flex mx-5 justify-content-between my-3">
<%= link_to "Home", root_path, class: "button px-3" %>
<%= link_to "Back", :back, class: "button px-3" %>
</div>


<h1 class="users_heading"> List of Posts from the User</h1>

<%= render partial: 'users/user_profile', locals: {user:@user} %>
<button class="button d-flex justify-content-center">
    <%= link_to "Create new post", new_user_post_path(@user.id) %>
</button>

<% @user.posts.each do |post| %>
    <div class='post_card'>
        <div class="post-details">
        <%= link_to user_post_path(@user.id, post.id), id: "user_post#{post.id}" do %>
            <h3><%= post.title %></h3>
            <p><%= post.text.truncate(30) %></p>
        <% end %>
        </div>
        <div class='interactions'>
            <span>Comments: <%= post.comments_counter || 0 %></span>
            <span>Likes: <%= post.likes_counter || 0 %></span>
        </div>
    </div>

        <div class="post_card post_comments">
            <% post.recent_comments.each do |comment| %>
                <div class='comment-card'>
                    <%= comment.author.name %> : <%= comment.text %>
                </div>
            <% end %>
        </div>
<% end %>




