<div>
    <h1>Post Details</h1>
    <div class='post-card'>
        <h4><%= @post.title %> by <%= link_to user_path(@post.user.id) do %> <%= @post.user.name %> <% end %></h4>
        <p>Comments : <%= @post.comments_counter || 0 %> Likes : <%= @post.likes.size || 0 %> </p>
    </div>

    <%= @post.text %>
    <div class='comments'>
        <% @post.comments.each do |c| %>
        <%= c.user.name %>: <%= c.text%><
      <% end %>
    </div>

</div>